
  body{
    background-image: url("../images/tekstura.jpg");
    background-attachment: fixed;
 }
 nav{
  background-image: url("../images/сніжки.jpg");
}
nav ul a{
  color: rgb(82, 87, 83);
}
#nav-mobile {
  margin-left:260px !important;
}
#logo{
  margin-left:60px
}
nav li a {
   background-color: #404040;
}

.side-nav{
  background-color: rgb(122, 119, 126) !important;
   
  }
   #sidenav-overlay{
    z-index: -1
  }
.col{font-family:Lora,'Times New Roman',serif;font-size:20px;color:#404040}
p {
  line-height: 1.5;
  }
.parallax-container .section {
    width: 100%;
  }

/* Map outside tab */

#map{
  margin-left: auto;
    margin-right: auto;
    width: 7em
}


.btn-social_ig:after {
  margin: -5px 0 0 -8px;
  width: 16px;
  height: 10px;
  background-position: -22px -39px;
}
.section {
margin-top: 50px;
background:  transparent;
}

.carousel carousel-slider {
  margin: 40px 0 10px!important;
z-index: 999;
}
.carousel carousel-slider img{
  max-width:100%;
  height:auto;
}
video #example_video_1{
  margin: 20px auto;
}
.parallax img {
display: inherit;
padding:50px ;
}
.parallax-container {
height: 450px !important;
background-color: inherit;
}
#foot{
  background-image: url("../images/tekstura.jpg");
}

  .material-icons{
    color: rgba(255, 255, 255, 0.7);
}

.icon i {
  position: relative;
  bottom: 1px;
  display: inline-block;
  width: 48px;
  height: 48px;
  background: transparent 0 0 no-repeat;
  background-image: url(facebook_gray.png);
}
P { 
  text-align: center
}

 img:hover {
cursor: pointer;
height: auto;
width: auto;
transform: scale(1.5);
-moz-transform: scale(1.5);/*Firefox*/
box-shadow: 3px 3px 1px #111111;
transition: all 0.3s linear;
}
 .parallax-container {
   height:300px;
}
.slider .indicators .indicator-item {
background-color: #666666;
border: 3px solid #ffffff;
-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.carousel .carousel-slider{
width: 900px;
height:440px ;
margin: 0 auto;
}
.carousel .indicators {
margin:0px 5px ;
z-index: 100;
/* text-align: left; */
}
.carousel .indicators .indicator-item{
height:15px ;
width: 15px ;
margin:20px 5px ;
}
section {
display: block;
margin: 50px auto;
}

.footer-copyright{
  font: 0.7em sans-serif;
}
iframe {
  width:560px;
   height:315px
} 

@keyframes appear {
60%{
  transform: matrix(.09,0,0, .09,0,125);
  box-shadow: 0 0 1px #EEE;
  }
}

.image-slider-content {
  width: 100%;
  height: 750px;
  background: rgb(39, 37, 37);
  border-radius: 2px;
  box-shadow: inset 0 0 30px rgba(255,255,255,1.0);
}
.image-slider-content {

  margin: 50px auto;
}
.card{
background-color: #282e4491;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}
 .parallax img 
 {
 	 background-repeat: no-repeat;
 	 background-size: cover;
 }
 .parallax-container
 {
 	color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
 	color: white;
 }
}
 nav a.button-collapse
 {
 	color:white;
 }

.share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}




hr {
	height:0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.subTitleFont
{
	 -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 25px/1 "alex-brush", Helvetica, sans-serif;
  
  
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.titleFont
{
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 65px/1 "carter-one", Helvetica, sans-serif;
  
  
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;

}


 
.fa{
	color:rgb(153, 51, 114);
}
.fa:hover
{
	color:#09f3dc;
}
